name: Docs

on:
  push:
    branches: [main]
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"

permissions:
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2

      - run: mdbook build docs/

      - uses: actions/upload-pages-artifact@v3
        with:
          path: docs/book

      - id: deployment
        uses: actions/deploy-pages@v4
